# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
coverage

# Dependency directories
node_modules

# build output
lib
es
dist

# IDE
.idea
.vscode

.DS_Store
install-state.gz
lerna-debug.log
